   .products-carousel {
     display: flex;
     margin: auto;
     justify-content: center;
     
     background-color: chartreuse;
   }
   .products-carousel__slide {
     background-color: cadetblue;
     display: flex;
     
     
     
   }
   .slider__item {
    padding: 0px 15px;
    justify-content: center;
    text-align: center;
    width: 390px;
    
   }
   .products-carousel__button {
     border-radius: 50%;
     height: 32px;
     background-color: crimson;
     margin: auto 5px auto 5px;
   }
   
   p {
    
    
    text-align: center;
   }
   h2, h3 {
     text-align: center;
   }
    
     
     
     
   

    